img {

   display: block;
   margin: auto;
   
}

center { 
   display: block;
   text-align: center;
}

.content{
   margin: 0% auto;
   width: 1700px;
   
}
.ps{
   padding-top: 5px;
   padding-bottom: -20px;
   text-align: center;
}
   .renk{
   
   margin-right: 2px;
    height: 80px;
    background-color: #EEEEEE;
    font-size: 14px;
}

.box2{
   height: auto;
   width: 598px;
   
   
}

.Special{
   float:left;
   margin-top: -20;
   margin-block-start: auto; 
   margin-right: 2px;
   width: 700px;
   height: 75px;
   background-color: #7EE5DA;
}

.info {
   margin-right: 2px;
   margin-block-start: auto;
   float:left;
   width: 300px;
   height: 85px;
   background-color: #70CCC2;

}

.mail {
   margin-right: 1px;
   margin-block-end: auto;
   float: left;
   width: 700px;
   height: 85px;
   background-color: #62B3AA;

}

.haklar{
   
   margin-top: 50px;
   text-align: center;
}

